<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urban_food">

    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Urban_Food">

        <activity
            android:name=".Activities.PastOrder.PastOrderIdActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddAddress.AddAddress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PastOrder.PastOrder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ManageAddress.ManageAddress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyProfile.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShopsDetail.ClickCuisineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SearchScreen.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ShopsDetail.ShopsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreen.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Home.HomeNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Otp.OtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Verifyphonescreen.VerifyPhone"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CreateAccount.CreateAccount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgetPasswordScreen.Forgetpassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeScreen.WelcomeScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChangePassowrdScreen.ChangePassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Wallet.Wallet"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OngoingOrder.OngoingOrderActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key1" />
    </application>

</manifest>